name: Documentation

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1'
      - name: Install dependencies, build and deploy
        run: |
          using Pkg: Pkg
          Pkg.develop(Pkg.PackageSpec(path=pwd()))
          Pkg.instantiate()
          include(joinpath("docs", "make.jl"))
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
          PYTHON: '' # Use Conda.jl also on Linux
          GKSwstype: nul # avoid (irrelevant) error messages from GR
        shell: julia --color=yes --project=docs/ {0}
