name: Documentation

on:
  push:
    branches:
      - master
    tags: '*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: ${{ matrix.arch }}
      # Limitation of pip: https://pythonot.github.io/index.html#pip-installation
      - run: python -m pip install cython numpy
      - run: python -m pip install pot
      - uses: julia-actions/setup-julia@latest
        with:
          version: '1'
      - name: Install dependencies
        run: |
          using Pkg: Pkg
          Pkg.instantiate()
        shell: julia --color=yes --project=docs/ {0}
      - name: Build and deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
          GKSwstype: nul # avoid (irrelevant) error messages from GR
          JULIA_DEBUG: Documenter # Print `@debug` statements (https://github.com/JuliaDocs/Documenter.jl/issues/955)
          DATADEPS_ALWAYS_ACCEPT: true
        run: julia --color=yes --project=docs/ docs/make.jl
